
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root {
    --default-background-color: #717171;
    --container-color: #dcdcdc;
    --red-color: #af0023;
    --button-border: #144552;
    --green-color: #22b195;
}

body {
    background: url(./images_rps/wall.jpeg) center/120% var(--default-background-color);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}

.container {
    overflow: hidden;
    background-color: var(--container-color);
    margin: 20px 175px;
    padding: 0px 5px;
    border-radius: 8px;
    box-shadow: 15px 0px 20px 15px #2a2a2a;
    color: #3c3c3c;
}

.title {
    color: var(--red-color);
    text-shadow: 2px 2px 2px #6f0c20;
}

.subtitle {
    margin-top: -30px;
}


.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.buttons {
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    /* margin: 10px 0px */
}



button {
    border: 2px solid var(--button-border);
    border-radius: 50px;
    
}

button:hover {
    /* background-color: #d7133a; */
    cursor: pointer;
}

button:active {
    background-color: var(--red-color);
    /* transition-duration: 0.1s; */
}


.icons {
    width: 100px;
    height: 100px;
    margin: 8px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid var(--button-border);
    box-shadow: inset 6px 8px 8px 6px #8e8e8e;
    border-radius: 40px;
}

.new-game {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#new-game {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    background-color: var(--green-color);
    box-shadow: 8px 8px 10px 1px #236558;
    border-radius: 20px;
    margin-top: -20px;
    /* margin-bottom: 10px; */
}

#new-game:active {
    box-shadow: inset 2px 2px 6px #236558;
}

.scores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    margin-top: 10px;
}

.scorecard {
    text-align: center;
    width: 20px;
    background-color: var(--red-color);
    box-shadow: 6px 1px 12px 1px #6f0c20;
    color: var(--green-color);
    padding: 0px 20px;
    font-size: x-large;
    border-radius: 10px;
}

#message {
    
    text-align: center;
    font-size: xx-large;
    margin: 10px 0;
    text-transform:capitalize;
    color: var(--red-color);
    text-shadow: 2px 2px 3px #6f0c20;
}
 
hr {
    background-color: #144552;
    width: 75vw;
    height: 2px;
    margin: 20px 0px;
}

.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-family: 'Rock Salt', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 900;
    background-color: #ffffff64;
}
a {
    text-decoration: none;
    color: #af0023;
}

.footerImg{
    height: 28px;
    padding: 10px 0px;
    margin-bottom: -5px;
    align-items: center;
}